::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar:horizontal {
  height: 8px;
}
::-webkit-scrollbar:vertical {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f8f9fa;
}

.dark ::-webkit-scrollbar-track {
  background: #07142e;
}

#root ::-webkit-scrollbar-track {
  background: inherit;
}

.dark #root ::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: #2f65b9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a5aa6;
}
